.footer {
    background-color: #343a40;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-nav {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.footer-copyright {
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}
